.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.section:global(.__wab_instance) {
  position: relative;
}
.freeBox__wZz57 {
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: var(--token-F3eOZz8A9NTAFt);
  display: flex;
  min-width: 0;
}
.freeBox__wZz57 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__wZz57 > :global(.__wab_flex-container) > *,
.freeBox__wZz57 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wZz57 > :global(.__wab_flex-container) > picture > img,
.freeBox__wZz57
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.columns__woVlB {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__woVlB > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns__woVlB > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__woVlB > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__woVlB > :global(.__wab_flex-container) > *,
.columns__woVlB > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__woVlB > :global(.__wab_flex-container) > picture > img,
.columns__woVlB
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__woVlB {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__woVlB > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__woVlB > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__woVlB > :global(.__wab_flex-container) > *,
  .columns__woVlB > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__woVlB > :global(.__wab_flex-container) > picture > img,
  .columns__woVlB
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
.column___5QPrT {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___5QPrT {
    width: 100%;
  }
}
.freeBox__h2Ntc {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__h2Ntc > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__h2Ntc > :global(.__wab_flex-container) > *,
.freeBox__h2Ntc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__h2Ntc > :global(.__wab_flex-container) > picture > img,
.freeBox__h2Ntc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__h2Ntc {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__h2Ntc > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text___2Peqr {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
  text-align: left;
}
.text__eb0Hp {
  position: relative;
  text-align: left;
}
.bullet__owika:global(.__wab_instance) {
  position: relative;
}
.bullet__yFmcc:global(.__wab_instance) {
  position: relative;
}
.bullet__nobpT:global(.__wab_instance) {
  position: relative;
}
.text__pFy32 {
  position: relative;
  text-align: left;
}
.freeBox__awrtQ {
  flex-direction: row;
  display: flex;
  position: relative;
  margin-top: calc(16px + 12px) !important;
}
.freeBox__awrtQ > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__awrtQ > :global(.__wab_flex-container) > *,
.freeBox__awrtQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__awrtQ > :global(.__wab_flex-container) > picture > img,
.freeBox__awrtQ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__awrtQ {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__awrtQ > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__awrtQ > :global(.__wab_flex-container) > *,
  .freeBox__awrtQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__awrtQ > :global(.__wab_flex-container) > picture > img,
  .freeBox__awrtQ
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button___3NAm:global(.__wab_instance) {
  position: relative;
}
.svg__zHzlK {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__jOSo8 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__ws5Vj:global(.__wab_instance) {
  position: relative;
}
.svg__capsu {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__nKj5 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__mxSjy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__mxSjy {
    width: 100%;
  }
}
.img__fuuOu {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__fuuOu > picture > img {
  object-fit: cover;
}
.img__fuuOu > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns___7Ru3E {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns___7Ru3E > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns___7Ru3E > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns___7Ru3E > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns___7Ru3E > :global(.__wab_flex-container) > *,
.columns___7Ru3E > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___7Ru3E > :global(.__wab_flex-container) > picture > img,
.columns___7Ru3E
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___7Ru3E {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___7Ru3E > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___7Ru3E > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___7Ru3E > :global(.__wab_flex-container) > *,
  .columns___7Ru3E > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns___7Ru3E > :global(.__wab_flex-container) > picture > img,
  .columns___7Ru3E
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
.column___0Riy8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___0Riy8 {
    width: 100%;
  }
}
.img__gHifg {
  position: relative;
  object-fit: cover;
  width: 100%;
  align-self: flex-start;
  min-width: 0;
}
.img__gHifg > picture > img {
  object-fit: cover;
}
.img__gHifg > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__zheb3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__zheb3 {
    width: 100%;
  }
}
.freeBox__whgre {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__whgre > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__whgre > :global(.__wab_flex-container) > *,
.freeBox__whgre > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__whgre > :global(.__wab_flex-container) > picture > img,
.freeBox__whgre
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__whgre {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__whgre > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__uIjri {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
  text-align: left;
}
.text__mz1SQ {
  position: relative;
  text-align: left;
}
.bullet__rMbx8:global(.__wab_instance) {
  position: relative;
}
.bullet__jaq14:global(.__wab_instance) {
  position: relative;
}
.bullet__sGtXm:global(.__wab_instance) {
  position: relative;
}
.text__a5QW {
  position: relative;
  text-align: left;
}
.freeBox__af8Tc {
  flex-direction: row;
  display: flex;
  position: relative;
  margin-top: calc(16px + 12px) !important;
}
.freeBox__af8Tc > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__af8Tc > :global(.__wab_flex-container) > *,
.freeBox__af8Tc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__af8Tc > :global(.__wab_flex-container) > picture > img,
.freeBox__af8Tc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__af8Tc {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__af8Tc > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__af8Tc > :global(.__wab_flex-container) > *,
  .freeBox__af8Tc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__af8Tc > :global(.__wab_flex-container) > picture > img,
  .freeBox__af8Tc
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button__aiGtw:global(.__wab_instance) {
  position: relative;
}
.svg__mBgIx {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__ouhEr {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__yobPb:global(.__wab_instance) {
  position: relative;
}
.svg__agGsQ {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__qyf5Y {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
