.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-right: 16px;
  padding-left: 16px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.pricingSection:global(.__wab_instance) {
  position: relative;
}
.columns {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 960px;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 16px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 16px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 16px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 16px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 20px;
  }
}
.column__iQbJn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__iQbJn {
    width: 100%;
  }
}
.plan__zFq5:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text__fKmtV {
  font-size: 48px;
}
.freeBox___3QZqT {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox___3QZqT > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___3QZqT > :global(.__wab_flex-container) > *,
.freeBox___3QZqT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3QZqT > :global(.__wab_flex-container) > picture > img,
.freeBox___3QZqT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet___3DsyH:global(.__wab_instance) {
  position: relative;
}
.bullet__b52Ln:global(.__wab_instance) {
  position: relative;
}
.bullet___67Mhy:global(.__wab_instance) {
  position: relative;
}
.button__fRtPi:global(.__wab_instance) {
  position: relative;
}
.svg___4CkVw {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__w053F {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__l2CtB {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__l2CtB {
    width: 100%;
  }
}
.plan__wv7:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text__sWuH {
  font-size: 48px;
}
.freeBox___2Qh7R {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox___2Qh7R > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___2Qh7R > :global(.__wab_flex-container) > *,
.freeBox___2Qh7R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2Qh7R > :global(.__wab_flex-container) > picture > img,
.freeBox___2Qh7R
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet__fkXdX:global(.__wab_instance) {
  position: relative;
}
.bullet__q87Am:global(.__wab_instance) {
  position: relative;
}
.bullet__a9Ub:global(.__wab_instance) {
  position: relative;
}
.bullet___51IH7:global(.__wab_instance) {
  position: relative;
}
.button__ea0D3:global(.__wab_instance) {
  position: relative;
}
.svg___8N2Pu {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__q3Hi5 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__sDz3B {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__sDz3B {
    width: 100%;
  }
}
.plan__h5QE:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text__aFb0L {
  font-size: 48px;
}
.freeBox__f8YwF {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__f8YwF > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__f8YwF > :global(.__wab_flex-container) > *,
.freeBox__f8YwF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__f8YwF > :global(.__wab_flex-container) > picture > img,
.freeBox__f8YwF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet__wgZi:global(.__wab_instance) {
  position: relative;
}
.bullet__nWvG:global(.__wab_instance) {
  position: relative;
}
.bullet__wVySv:global(.__wab_instance) {
  position: relative;
}
.button___32Eav:global(.__wab_instance) {
  position: relative;
}
.svg__xoxpG {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__svzH7 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.faqSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__iG7De {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__iG7De > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__iG7De > :global(.__wab_flex-container) > *,
.freeBox__iG7De > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iG7De > :global(.__wab_flex-container) > picture > img,
.freeBox__iG7De
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.faq___7O5F9:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.faq__krvxa:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
