.root {
  width: 100%;
  height: auto;
  max-width: var(--token-F3eOZz8A9NTAFt);
  display: flex;
  position: relative;
  justify-content: space-between;
  min-width: 0;
  padding: 16px 8px;
}
.link {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.svg__qvbbl {
  object-fit: cover;
  width: 48px;
  height: 48px;
  flex-shrink: 0;
}
.freeBox {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox > :global(.__wab_flex-container) {
    margin-left: calc(0px - 16px);
    width: calc(100% + 16px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox > :global(.__wab_flex-container) > *,
  .freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox > :global(.__wab_flex-container) > picture > img,
  .freeBox
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 16px;
    margin-top: 0px;
  }
}
.button___3QjNf:global(.__wab_instance) {
  position: relative;
}
.svg__lVv4S {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__jaW6L {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__qoSrS:global(.__wab_instance) {
  position: relative;
}
.svg__n2Gj {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__guZpy {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__eek3T:global(.__wab_instance) {
  position: relative;
}
.svg__vp0VW {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__dMoyC {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__mu6W4:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__mu6W4:global(.__wab_instance) {
    display: none;
  }
}
.svg__eenUo {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___2U4QN {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
