.root {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  min-width: 0;
  padding: 32px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 0px;
  margin-top: 32px;
}
.freeBox__m31F0 {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid var(--token-okPFKOzbU25Rrv);
}
.freeBox___9Hvdq {
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: var(--token-F3eOZz8A9NTAFt);
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox___9Hvdq > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox___9Hvdq > :global(.__wab_flex-container) > *,
.freeBox___9Hvdq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9Hvdq > :global(.__wab_flex-container) > picture > img,
.freeBox___9Hvdq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9Hvdq {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9Hvdq > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9Hvdq > :global(.__wab_flex-container) > *,
  .freeBox___9Hvdq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___9Hvdq > :global(.__wab_flex-container) > picture > img,
  .freeBox___9Hvdq
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__edU {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 128px;
  flex-shrink: 0;
}
.freeBox__edU > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__edU > :global(.__wab_flex-container) > *,
.freeBox__edU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__edU > :global(.__wab_flex-container) > picture > img,
.freeBox__edU
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.iconLink__fw5V8:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___1OFaK {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.freeBox__ou5Pp {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__s7B4W {
  color: var(--token-0ihU7sX__wdq5x);
  font-size: 14px;
}
.root .link__s7B4W:hover {
  text-decoration-line: underline;
  color: var(--token-NEon4Y--Z);
}
.text__tVnIi {
  position: relative;
  font-size: 14px;
  color: var(--token-0ihU7sX__wdq5x);
}
.link__uusUb {
  position: relative;
  color: var(--token-0ihU7sX__wdq5x);
  font-size: 14px;
}
.root .link__uusUb:hover {
  text-decoration-line: underline;
  color: var(--token-NEon4Y--Z);
}
.freeBox__cVuZ5 {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__cVuZ5 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__cVuZ5 > :global(.__wab_flex-container) > *,
.freeBox__cVuZ5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cVuZ5 > :global(.__wab_flex-container) > picture > img,
.freeBox__cVuZ5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cVuZ5 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cVuZ5 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cVuZ5 > :global(.__wab_flex-container) > *,
  .freeBox__cVuZ5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__cVuZ5 > :global(.__wab_flex-container) > picture > img,
  .freeBox__cVuZ5
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__e1O9D {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__e1O9D > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__e1O9D > :global(.__wab_flex-container) > *,
.freeBox__e1O9D > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__e1O9D > :global(.__wab_flex-container) > picture > img,
.freeBox__e1O9D
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__yLAvR {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__xdJiJ {
  font-size: 14px;
  position: relative;
  color: var(--token-0ihU7sX__wdq5x);
}
.root .link__xdJiJ:hover {
  color: var(--token-NEon4Y--Z);
}
.link__ijyhe {
  position: relative;
  color: var(--token-0ihU7sX__wdq5x);
  font-size: 14px;
}
.root .link__ijyhe:hover {
  color: var(--token-NEon4Y--Z);
}
.link__sd2L {
  position: relative;
  color: var(--token-0ihU7sX__wdq5x);
  font-size: 14px;
}
.root .link__sd2L:hover {
  color: var(--token-NEon4Y--Z);
}
.link__xr4Qt {
  position: relative;
  color: var(--token-0ihU7sX__wdq5x);
  font-size: 14px;
}
.root .link__xr4Qt:hover {
  color: var(--token-NEon4Y--Z);
}
.link__gXxOd {
  position: relative;
  color: var(--token-0ihU7sX__wdq5x);
  font-size: 14px;
}
.root .link__gXxOd:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__ee4Uo {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__ee4Uo > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__ee4Uo > :global(.__wab_flex-container) > *,
.freeBox__ee4Uo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ee4Uo > :global(.__wab_flex-container) > picture > img,
.freeBox__ee4Uo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__qxZho {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__qeTmj {
  position: relative;
  color: var(--token-0ihU7sX__wdq5x);
  font-size: 14px;
}
.root .link__qeTmj:hover {
  color: var(--token-NEon4Y--Z);
}
.link___2DT9E {
  position: relative;
  color: var(--token-0ihU7sX__wdq5x);
  font-size: 14px;
}
.root .link___2DT9E:hover {
  color: var(--token-NEon4Y--Z);
}
.link__ne3VC {
  position: relative;
  color: var(--token-0ihU7sX__wdq5x);
  font-size: 14px;
}
.root .link__ne3VC:hover {
  color: var(--token-NEon4Y--Z);
}
.link__xbmFb {
  position: relative;
  color: var(--token-0ihU7sX__wdq5x);
  font-size: 14px;
}
.root .link__xbmFb:hover {
  color: var(--token-NEon4Y--Z);
}
.link__gPduz {
  position: relative;
  color: var(--token-0ihU7sX__wdq5x);
  font-size: 14px;
}
.root .link__gPduz:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__tbtQk {
  flex-direction: column;
  display: flex;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__tbtQk > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__tbtQk > :global(.__wab_flex-container) > *,
.freeBox__tbtQk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tbtQk > :global(.__wab_flex-container) > picture > img,
.freeBox__tbtQk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text___7NQki {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__hHdwm {
  position: relative;
  color: var(--token-0ihU7sX__wdq5x);
  font-size: 14px;
}
.root .link__hHdwm:hover {
  color: var(--token-NEon4Y--Z);
}
.link__d2Re {
  position: relative;
  color: var(--token-0ihU7sX__wdq5x);
  font-size: 14px;
}
.root .link__d2Re:hover {
  color: var(--token-NEon4Y--Z);
}
.link__mw6H5 {
  position: relative;
  color: var(--token-0ihU7sX__wdq5x);
  font-size: 14px;
}
.root .link__mw6H5:hover {
  color: var(--token-NEon4Y--Z);
}
.link__nrctG {
  position: relative;
  color: var(--token-0ihU7sX__wdq5x);
  font-size: 14px;
}
.root .link__nrctG:hover {
  color: var(--token-NEon4Y--Z);
}
.link__atJmy {
  position: relative;
  color: var(--token-0ihU7sX__wdq5x);
  font-size: 14px;
}
.root .link__atJmy:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__kOTa2 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 200px;
  flex-shrink: 0;
}
.freeBox__kOTa2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__kOTa2 > :global(.__wab_flex-container) > *,
.freeBox__kOTa2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kOTa2 > :global(.__wab_flex-container) > picture > img,
.freeBox__kOTa2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text___7Y4JC {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.text__uu99F {
  position: relative;
  font-size: 14px;
  color: var(--token-0ihU7sX__wdq5x);
}
.textInput:global(.__wab_instance) {
  position: relative;
}
.svg___3Dmqf {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button:global(.__wab_instance) {
  position: relative;
}
.svg__uUt6Q {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-p-fCTrfjtL4);
  width: 1em;
  height: 1em;
}
.svg___0HcgY {
  position: relative;
  object-fit: cover;
  width: 12px;
  height: 12px;
  color: var(--token-p-fCTrfjtL4);
}
.svg__bffSr {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__xRkOx {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid var(--token-okPFKOzbU25Rrv);
}
.freeBox___3TLP {
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: var(--token-F3eOZz8A9NTAFt);
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox___3TLP > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3TLP {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3TLP > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3TLP > :global(.__wab_flex-container) > *,
  .freeBox___3TLP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___3TLP > :global(.__wab_flex-container) > picture > img,
  .freeBox___3TLP
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.freeBox__gthge {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__bzQeo {
  position: relative;
  color: var(--token-0ihU7sX__wdq5x);
  height: auto;
  font-size: 14px;
}
.root .link__bzQeo:hover {
  text-decoration-line: underline;
}
.link__vkfIf {
  position: relative;
  color: var(--token-0ihU7sX__wdq5x);
  font-size: 14px;
}
.root .link__vkfIf:hover {
  text-decoration-line: underline;
}
.text__fBjDn {
  position: relative;
  height: auto;
  width: auto;
  font-size: 14px;
  color: var(--token-0ihU7sX__wdq5x);
}
.freeBox__bUz {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__bUz > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__bUz > :global(.__wab_flex-container) > *,
.freeBox__bUz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bUz > :global(.__wab_flex-container) > picture > img,
.freeBox__bUz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.iconLink__zRgdY:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__dpOkj {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__dpOkj:hover {
  color: var(--token-dph1wZ7NjV9);
}
.iconLink___4QN3:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__hdNO {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__hdNO:hover {
  color: var(--token-dph1wZ7NjV9);
}
.iconLink__tx5Ya:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___1XNw {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg___1XNw:hover {
  color: var(--token-dph1wZ7NjV9);
}
