.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.topSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__pAi7E {
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: var(--token-F3eOZz8A9NTAFt);
  display: flex;
  position: relative;
  min-width: 0;
}
.freeBox__pAi7E > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__pAi7E > :global(.__wab_flex-container) > *,
.freeBox__pAi7E > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pAi7E > :global(.__wab_flex-container) > picture > img,
.freeBox__pAi7E
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pAi7E {
    width: 100%;
    height: auto;
    max-width: var(--token-F3eOZz8A9NTAFt);
    display: flex;
    position: relative;
    flex-direction: column;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pAi7E > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pAi7E > :global(.__wab_flex-container) > *,
  .freeBox__pAi7E > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__pAi7E > :global(.__wab_flex-container) > picture > img,
  .freeBox__pAi7E
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__spRpg {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}
.freeBox__spRpg > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__spRpg > :global(.__wab_flex-container) > *,
.freeBox__spRpg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__spRpg > :global(.__wab_flex-container) > picture > img,
.freeBox__spRpg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__spRpg {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__spRpg > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__spRpg > :global(.__wab_flex-container) > *,
  .freeBox__spRpg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__spRpg > :global(.__wab_flex-container) > picture > img,
  .freeBox__spRpg
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__srArn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__ddqmO {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: var(--token-NEon4Y--Z);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ddqmO {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: var(--token-NEon4Y--Z);
  }
}
.text__v2YRh {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: rgba(51, 140, 245, 0);
  background: linear-gradient(
      90deg,
      rgb(51, 140, 245) 0%,
      rgb(79, 209, 197) 100%
    )
    0% 0% / 100% 100% padding-box /* clip: text **/;
  background-clip: text;
  -webkit-background-clip: text;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__v2YRh {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: rgba(51, 140, 245, 0);
    background: linear-gradient(
        90deg,
        rgb(51, 140, 245) 0%,
        rgb(79, 209, 197) 100%
      )
      0% 0% / 100% 100% padding-box /* clip: text **/;
    background-clip: text;
    -webkit-background-clip: text;
  }
}
.text__ypExO {
  font-size: 20px;
  text-align: center;
  max-width: 768px;
  position: relative;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ypExO {
    font-size: 24px;
    text-align: center;
    max-width: 768px;
    position: relative;
    align-self: center;
  }
}
.freeBox___7DXvC {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox___7DXvC > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox___7DXvC > :global(.__wab_flex-container) > *,
.freeBox___7DXvC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7DXvC > :global(.__wab_flex-container) > picture > img,
.freeBox___7DXvC
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.button__gaX3L:global(.__wab_instance) {
  position: relative;
}
.svg__t2FO3 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__p2TMi {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__irpy0:global(.__wab_instance) {
  position: relative;
}
.svg__smsQ1 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___7TKeu {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__umv9K {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}
.img__gCxN {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__gCxN > picture > img {
  object-fit: cover;
}
.img__gCxN > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.solutions:global(.__wab_instance) {
  position: relative;
}
.columns {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.column___9QnJl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___9QnJl {
    width: 100%;
  }
}
.freeBox__zpMy6 {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__zpMy6 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__zpMy6 > :global(.__wab_flex-container) > *,
.freeBox__zpMy6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zpMy6 > :global(.__wab_flex-container) > picture > img,
.freeBox__zpMy6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zpMy6 {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zpMy6 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__v9Uiq {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
}
.text__bQlpU {
  position: relative;
  color: var(--token-jBhCqxBbh1U);
}
.featureCard__wfmtS:global(.__wab_instance) {
  position: relative;
}
.svg__uSfyN {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg___10DgJ {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard___75LfJ:global(.__wab_instance) {
  position: relative;
}
.svg__hf3Bk {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__tdYzx {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__xuPwS:global(.__wab_instance) {
  position: relative;
}
.svg__pqdU {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__csbTe {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.column__sqlZr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__sqlZr {
    width: 100%;
  }
}
.img___5EaC {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img___5EaC > picture > img {
  object-fit: cover;
}
.img___5EaC > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.howItWorks:global(.__wab_instance) {
  position: relative;
}
.freeBox__nwMc {
  flex-direction: row;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__nwMc > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__nwMc > :global(.__wab_flex-container) > *,
.freeBox__nwMc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nwMc > :global(.__wab_flex-container) > picture > img,
.freeBox__nwMc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 20px;
}
.featureCard__o8GHw:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__xrytP {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-Llg2MCw0f4n3Qa);
}
.svg__jjPtO {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__rUAap:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__wcF {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-Llg2MCw0f4n3Qa);
}
.svg__xvOz {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__wsZ8J:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__z36Fy {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-Llg2MCw0f4n3Qa);
}
.svg__qe19L {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__nYw3:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___01EwP {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-Llg2MCw0f4n3Qa);
}
.svg___5Cb0M {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__cxaG:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__ufanj {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-Llg2MCw0f4n3Qa);
}
.svg__hedaF {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__iR723:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__bQa1H {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-Llg2MCw0f4n3Qa);
}
.svg___3QCi8 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.freeBox__c3TgN {
  display: block;
  position: absolute;
  left: 50%;
  top: auto;
  width: 2px;
  height: 77px;
  bottom: -88px;
  border: 1px solid var(--token-okPFKOzbU25Rrv);
}
.validation:global(.__wab_instance) {
  position: relative;
}
.freeBox__v7R4I {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__v7R4I > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__v7R4I > :global(.__wab_flex-container) > *,
.freeBox__v7R4I > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__v7R4I > :global(.__wab_flex-container) > picture > img,
.freeBox__v7R4I
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__bgliK {
  flex-direction: row;
  display: flex;
}
.freeBox__bgliK > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__bgliK > :global(.__wab_flex-container) > *,
.freeBox__bgliK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bgliK > :global(.__wab_flex-container) > picture > img,
.freeBox__bgliK
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
  margin-top: 24px;
}
.svg__vIqrm {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 24px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__wkJus {
  position: relative;
  object-fit: cover;
  width: 83px;
  height: 30px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__h9DE {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 39px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg___1Xt8K {
  position: relative;
  object-fit: cover;
  width: 113px;
  height: 30px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__ae6V7 {
  position: relative;
  object-fit: cover;
  width: 109px;
  height: 33px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.testimonial:global(.__wab_instance) {
  position: relative;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
